$primary-color: #CF445D;
$secondary-color: #E87722;
// $cny-red: #007A53;
$light-grey: #B5B5B5;
$dark-grey: #4A4A4A;
$grey-half-tone: #4a4a4a5e;
$blue-half-tone: #234150df;
$white: #FFF;
$black: #000;
$cny-red: #D1425A;
$burgundy-red: #AF4660;
$gold: #A8785D;
$light-gold: #F3D5B2;
$gold-gradient: linear-gradient(90.41deg, #F3D5B2 -39.13%, #A8785D 122.43%);